.App {
  min-height: 83vh; /* vh stands for viewport height - 83vh will take up 83% of our viewport height */
  margin-bottom: 0 !important;
  text-align: center;
}

body {
  max-width: 100vw;
  font-family: cursive;
  border: 1px solid black;

}

a.btn {
  background-color:rgb(148, 32, 94);
  color: white;
  border: 2px solid black;
  opacity: .75;
}

a.btn:hover {
  background-color:rgb(148, 32, 94);
  color: white;
  border: 2px solid black;
  opacity: .25;
  
}

button.btn {
  background-color:rgb(148, 32, 94);
  color: white;
  border: 2px solid black;
  opacity: .75;
}

button.btn:hover {
  background-color:rgb(148, 32, 94);
  color: white;
  border: 2px solid black;
  opacity: .25;
}




