.carousel {
    max-height: 70vh;
    width: fit-content;
    margin-right: 5px;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    display: flex;
}

.carousel-item {
    position: relative;
    height: 75vh !important;
    display: flex;
}

/* .carousel-caption {
    background-image: radial-gradient(circle at 50% 50%, rgba(200, 200, 200, .75), transparent);
    color: #000 !important;
    position: relative;
} */

.carouselImg {
    border: 1px solid #212121;
    border-radius: 15px;
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
    display: flex;
    
}


@media only screen and (max-width: 1023px) {
    .carousel-item {
        height: unset;
    }
}

div.container {
    padding: 0;
    margin: auto;
    margin-left: 15px;
    max-width: 100%;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
}

.counter {
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.loginCard {
    padding: 0;
    display: flex;
    justify-content: center;
}

div.login {
    overflow: hidden;
    max-width: 95vw;
}

div.login.row {
    margin: auto;
    max-width: 95vw;
    overflow: hidden;
}

div.header {
    overflow: hidden;
    max-width: 95vw;
}

div.card-header {
    background-image: url(../../images/flowers.jpg);
    background-position: center;
    background-size: cover;
}

h3, h1 {
    background-color: white;
    opacity: .85;
    color: #212121;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 15px;
}

